audioop-lts==0.2.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
feedparser==6.0.11
gtts==2.5.4
idna==3.10
langdetect==1.0.9
pydub==0.25.1
requests==2.32.3
sgmllib3k==1.0.0
six==1.17.0
urllib3==2.3.0
